body {
    margin: 0;
    padding: 0;
    background-image: url('../images/image.jpeg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    /* background-image: linear-gradient (to right, yellow, white, yellow ); */
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 5px solid #685858;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.login-form h2 {
    text-align: center;
    margin-top: 0;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
}
.form-control{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #3e8e41;
}