<html></html>
    <head>
        <title> LOGIN </title>
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    </head>
    <body>
        <div class="container">
            <div class="login-form">
                <h2>Login</h2>
                <form>
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="form-control" required><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" required>
                    <span id="passwordHelpInline" class="form-text">
                       <font size=1>(Must be 8-20 characters long.)</font>
                      </span>
                      <br><br>
                    <input type="submit" value="Login" class="btn">
                </form>
                <!-- <p>Forgot password? <a href="reset_password.html">Reset password</a></p> -->
                <p>Don't have an account? <a href="signup.html">Register</a></p>
            </div>
        </div>
    </body>
</html>